<!DOCTYPE html>
<html>
<head>
  <title>TRPGキャラクターシートアプリ</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Welcome to TRPGキャラクターシートアプリ</h1>

  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "サインアップ", new_user_registration_path %>
  <% end %>
</body>
</html>
